button {
  margin: 2% 1%;
}

.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.banner * {
  margin: 5% auto 2%;
  max-width: 500px;
}

.banner__subtitle {
  margin-top: 1%;
}

.banner__buttons {
  display: none;
}

hr {
  margin: 0% 0% 5%;
}

.news-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 1.5%;
}

.news-type__title {
  margin-bottom: 1%;
}

.news-type__article {
  height: 90vh;
  width: 100%;
  max-width: 600px;
  margin-bottom: 5%;
}

.news-type__article img {
  height: 50vh;
  width: 100%;
}

.article__text {
  margin: 2% 3%;
}

.article__footer {
  display: flex;
  margin: 2%;
  flex-direction: row;
  align-items: center;
}

.article__footer p {
  max-width: 30%;
  flex: 1;
  margin-left: auto;
  text-align: right;
}

@media screen and (min-width: 620px) {
  .banner * {
    margin: 0.5% auto;
  }

  .banner__title {
    margin-top: 3%;
  }

  .banner__buttons {
    display: flex;
    position: relative;
    margin: auto;
    width: 30%;
    max-width: 300px;
    flex-direction: row;
    justify-content: center;
  }

  .news-type {
    width: 90%;
    margin: 1% auto;
    padding-bottom: 0%;
  }

  .news-type__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .news-type__article {
    width: 45%;
    height: 75%;
    padding-bottom: 3%;
  }

  .news-type__article img {
    height: 50%;
  }
}

@media screen and (min-width: 1240px) {
  hr {
    margin-bottom: 2%;
  }

  .news-type__article {
    width: 22%;
    height: 30%;
    margin-bottom: 2%;
  }
}
